nav{

  font-size:100%;
  width:100%;
  color:grey;
}
#login{
  margin-left: 30vw;
  margin-top: -5.5vh;
}
#signup{
  margin-left: 38vw;
  margin-top: 6vh;

}
#title{
  margin-left: -20vw;
}
.jumbotron{
  background-image: url('/static/back1.jpeg');
  background-repeat: no-repeat;
  background-size:cover;


  margin-top: -32%;

}
