<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">UBER</a>
    </div>

    <!-- Adding a search form -->
    <div class="col-sm-4 navbar-right">

      <!-- search form end -->
      <div class="col-sm-6 col-md-6">
        {% if user.is_authenticated %}
        <ul>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account<span class="caret"></span></a>

            <ul class="dropdown-menu" role="menu">

              <li><a href="/driver/accounts/password/change">Change Password</a></li>
              <li><a href="/driver/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
        {% else %}
        <li><a class="btn btn-default" href="/driver/accounts/login">Login</a>
        </li>
        {%endif%}
      </div>
  </div>
</nav>
</body>
</html>
