{%load static %}
{% load leaflet_tags %}
{% load geojson_tags %}

<html>
  <head>
   {% leaflet_js %}
   {% leaflet_css %}
   <script type="text/javascript" src="{% static 'js/leaflet.ajax.js'%}"></script>
  </head>
  <body>
    <h1>Edit </h1>
    <script type="text/javascript">
      var collection = {{ pickups|geojsonfeature|safe }};
      function map_init(map, options) {
          L.geoJson(collection).addTo(map);

      }
    </script>

    {% leaflet_map "gis" callback="window.map_init" %}
  </body>
</html>
