.jumbotron{
  background-image: url('/static/background-pass.jpeg');
  background-repeat: no-repeat;
  background-size:cover;
  height:130vh;

  margin-top: -25%;

}
nav{

  font-size:100%;
  width:100%;
  color:grey;
}
#login{
  margin-left: 30vw;
  margin-top: -5.5vh;
}
#signup{
  margin-left: 38vw;
  margin-top: 6vh;

}
#title{
  margin-left: -20vw;
}
