.jumbotron{
  background-image: url('/static/background-pass.jpeg');
  background-repeat: no-repeat;
  background-size:cover;
  height:130vh;

  margin-top: -25%;

}
nav{

  font-size:100%;
  width:100%;
  color:grey;
}
#login{
  margin-left: 30vw;
  margin-top: -5.5vh;
}
#signup{
  margin-left: 38vw;
  margin-top: 6vh;

}
#title{
  margin-left: -20vw;
}

form{
  margin-top: 10vh;
}

h1{

  font-family: 'Cabin Sketch', cursive;
  font-size: 10vh;
}
.card{
  font-family: 'Cabin Sketch', cursive;
  font-size: 1.5em;
}

h4{
  font-size: 2em;
}
.card-title{

}
#image{
  height:50vh;
  width:40vw;
}
#driver{
  width:50vw;
  margin-bottom: 10vh;
}

#book{
  font-family: 'Cabin Sketch', cursive;
}

#form{
  margin-top: -80vh;
  font-family: 'Cabin Sketch', cursive;float:right;
}
